.rotate-icon {
    animation: spin 4s linear infinite;
    /*Youcanadjustthedurationandotherpropertiesasneeded*/:;
    -webkit-animation: spin 4s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
  }

.about__content {
  padding: 70px;
  line-height: 1;
  transform: translateY(1%);
  -webkit-transform: translateY(1%);
  -moz-transform: translateY(1%);
  -ms-transform: translateY(1%);
  -o-transform: translateY(1%);
  max-height: fit-content;
  height: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Skills_Icon {
  justify-content: center;
  align-items: center;
  max-width: 500px; /* Set a fixed max-width for the container */
  margin: 40 auto; 
 margin-top: 100%;
  margin-bottom: 100%;
}

.Skills_Icon li {
  list-style: none;
  text-align: center;
  n
  flex: 1 0 calc(10% - 10px); /* Adjust the width of each icon to fit within the container */
}

/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .about__content {
    padding: 10px; /* Reduce padding for smaller screens */
  }
  .about__sub-title {
    font-size: 20px;
    margin-top: 10%;
  }
  .descr{
    margin-top: 7%;
  }
  .Skills_Icon{
  
  }
  /* Adjust other styles as needed */
}

/* Media query for iPhone SE (320px) */
@media (max-width: 320px) {
  .about__content {
    padding: 5px; /* Further reduce padding for iPhone SE */
  }
  .about__sub-title {
    font-size: 20px; /* Decrease font size for iPhone SE */
  }
  .rotate-icon {
    font-size: 1rem; /* Decrease icon size for iPhone SE */
  }
  /* Adjust other styles as needed */
}
.Skills_Icon {
  display: flex;
  /*Useflexboxforhorizontallayout*/justify-content: center;
  /*Centertheiconshorizontally*/flex-wrap: wrap;
  /*Allowiconstowraptothenextlineifneeded*/gap: 1px;
  /*Addsomespacingbetweenicons*/transform: translate(0%,100%) ;
  -webkit-transform: translate(0%,100%) ;
  -moz-transform: translate(0%,100%) ;
  -ms-transform: translate(0%,100%) ;
  -o-transform: translate(0%,100%) ;
}
.material-icons{
  transform:translate(-180%, 150%);
  font-size:30px;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-transform:translate(-180%, 150%);
  -moz-transform:translate(-180%, 150%);
  -ms-transform:translate(-180%, 150%);
  -o-transform:translate(-180%, 150%);
}
  .container{
      width: 100%;
      height: 100%;
      padding: 35px 10%;
      border-bottom: 1px solid rgba(0,0,0,0.5);       }
       .container{
          padding-right: calc(10% - 30px);

       }
      
       main.row{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap:0px ;
       }
       .col header.title{
          font-family: helvatica;
          color:black;
          padding: 50px;
          margin-left: 110px;
       }
       .col .contents{
          padding: 0px 30px;
          border-left: 2px solid #bababa;
          margin-left: 30px;
       }
       .col .contents .box{
          position: relative;
          padding: 20px;
         
          background-color: #ffffff;
          cursor: pointer;
          transition: all 0.4s;
          margin-bottom: 20px;
       }
       .col .contents .box:hover{
          
      
       }
       .col .contents .box::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      right: calc(100% + 22px);
      top:0;
      background-color: rgb(115, 114, 206);
      border: 1px solid white;
      margin-bottom: 60%;
       }
       .box h4{
          position: relative;
         
       }
       .box h3{
        font-size: 19px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: black;
       }
       .box p{
          line-height: 1.4;
          color: #666;
          font-size: 17px;
       }
       .contents{
        transform: translate(60%);
        -webkit-transform: translate(60%);
        -moz-transform: translate(60%);
        -ms-transform: translate(60%);
        -o-transform: translate(60%);
        transform: translate(0%,60%) ;
}

@media screen and (max-width: 480px) {
  .about__content {
    padding: 1px;
  }

  .about__sub-title {
    font-size: 1.2rem;
  }

  .descr {
    font-size: 0.9rem;
    transform: translate(5px);
    -webkit-transform: translate(5px);
    -moz-transform: translate(5px);
    -ms-transform: translate(5px);
    -o-transform: translate(5px);
}

  .skills {
    font-size: 1rem;
  }

  .Skills_Icon {
    flex-direction: row;
    align-items: center;
    transform: translateY(1%);
    -webkit-transform: translateY(1%);
    -moz-transform: translateY(1%);
    -ms-transform: translateY(1%);
    -o-transform: translateY(1%);
}
}



@media screen and (max-width: 480px) {
  .box {
    width: calc(100% - 20px); 
    padding: 50px;
  }
}
/* Default styles for larger screens */
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
margin-top: 0.1%;
  
}

.about__sub-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.descr {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 20px;
}

.skills {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Skills_Icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 0px;

  
}

.rotate-icon {
  margin: 10px;
  transform: rotate(20deg);
  transition: transform 0.3s ease-in-out;
}

/* Media query for iPhone 12 Pro and similar-sized screens */
@media screen and (max-width: 1170px) {
  .about__content {
    padding: 70px;
    margin-bottom: 40%;
  }

  .about__sub-title {
    font-size: 1.5rem;
  }

  .descr {
    font-size: 1rem;
    margin-bottom: 20%;
  }

  .skills {
    font-size: 1.2rem;
    margin-bottom: 0%;
    align-items: center;
    
    
  }

  .rotate-icon {
    margin: 5px;
    transform: rotate(0deg);
  }
}
.page__section{

  margin-bottom: 2%;
  padding: 1%;
}
.pad{
  padding: 110%;
}




