/* Contacts.css */

.containerr {
    height: 10%;
    max-width:750px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 20px 20px 20px #ce60071a;
    transform: translate(0%,10%)  ;
    -webkit-transform: translate(0%,10%)  ;
    -moz-transform: translate(0%,10%)  ;
    -ms-transform: translate(0%,10%)  ;
    -o-transform: translate(0%,10%)  ;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    justify-content: center;
  }
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    background-color:  #19635A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .copyright{
    text-align: center;
    font-size: 15px;
    transform: translate(0%,200%)  ;
    -webkit-transform: translate(0%,200%)  ;
    -moz-transform: translate(0%,200%)  ;
    -ms-transform: translate(0%,200%)  ;
    -o-transform: translate(0%,200%)  ;
}
  .Rabali{
  align-items: center;
  justify-content: center;
  display: flex;
  
  }
  .Conta{
    text-align: center;
    font-size: 30px;
    transform:translate(0%,60%);
    -webkit-transform:translate(0%,60%);
    -moz-transform:translate(0%,60%);
    -ms-transform:translate(0%,60%);
    -o-transform:translate(0%,60%);
    -webkit-transform: translate(0%,0%)  ;
}
.container{
  justify-content: center;
}
.contacts{
  justify-content: center;
}
/* Add this CSS to your stylesheet */
.social-icon {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  /* Add other styles here, e.g., padding, margin, etc. */
}

.social-icon:hover {
  transform: scale(1.2); /* Increase the size on hover */
  color:  #19635A; /* Change the color on hover (you can use your desired color) */
  background-color:  #19635A;;
}
.paddd{
  margin-top: 35%;
}

