/* Contacts.css */

.containerr {
  /* margin-top: 20%; */
    height: 550px;
    max-width:900px; 
    margin:  auto;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid #ccc;
     padding: 20px;
    border-radius: 7px;
    box-shadow: 20px 20px 20px #ce60071a;
    
   
}
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    justify-content: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    background-color:  #19635A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .copyright{
    text-align: center;
    font-size: 15px;
    transform: translate(0%,200%)  ;
    -webkit-transform: translate(0%,200%)  ;
    -moz-transform: translate(0%,200%)  ;
    -ms-transform: translate(0%,200%)  ;
    -o-transform: translate(0%,200%)  ;
}
  .Rabali{
  align-items: center;
  justify-content: center;
  display: flex;
  
  }
  .Conta{
    margin-bottom: 10vh;
    text-align: center;
    font-size: 30px;
    transform:translate(0%,90%);
    -webkit-transform:translate(0%,90%);
    -moz-transform:translate(0%,90%);
    -ms-transform:translate(0%,90%);
    -o-transform:translate(0%,90%);
    -webkit-transform: translate(0%,0%)  ;
}

.contacts{
  justify-content: center;
}
/* Add this CSS to your stylesheet */
.social-icon {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  /* Add other styles here, e.g., padding, margin, etc. */
}

.social-icon:hover {
  transform: scale(1.5);
  /*Increasethesizeonhover*/color:  #19635A;
  /*Changethecoloronhover(youcanuseyourdesiredcolor)*/background-color:  #19635A;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.paddd{

padding-top:10vh; 
 height: 90vh;
}
.popup{
  font-size: large;
}

