/* Contacts.css */

.container {
    max-width: 1000px;
    margin: 10px auto;
    padding: 35px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #0000001a;
    transform: translate(0%,10%)  ;
    -webkit-transform: translate(0%,10%)  ;
    -moz-transform: translate(0%,10%)  ;
    -ms-transform: translate(0%,10%)  ;
    -o-transform: translate(0%,10%)  ;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    justify-content: center;
  }
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    background-color:  #19635A;;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  .copyright{
    text-align: center;
    font-size: 15px;
    transform: translate(0%,200%)  ;
    -webkit-transform: translate(0%,200%)  ;
    -moz-transform: translate(0%,200%)  ;
    -ms-transform: translate(0%,200%)  ;
    -o-transform: translate(0%,200%)  ;
}
  .Rabali{
  align-items: center;
  justify-content: center;
  display: flex;
  }
  .Conta{
    
    text-align: center;
    font-size: 30px;
    transform: translate(0%,20%)  ;
    -webkit-transform: translate(0%,20%)  ;
    -moz-transform: translate(0%,20%)  ;
    -ms-transform: translate(0%,20%)  ;
    -o-transform: translate(0%,20%)  ;
  
}
.container{
  justify-content: center;
}
.contacts{
  justify-content: center;
}
/* Add this CSS to your stylesheet */
.social-icon {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  /* Add other styles here, e.g., padding, margin, etc. */
}

.social-icon:hover {
  transform: scale(1.2); /* Increase the size on hover */
  color:  #19635A; /* Change the color on hover (you can use your desired color) */
}

