/* Contacts.css */

.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 35px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #0000001a;
    transform: translate(0%,150%)  ;
    -webkit-transform: translate(0%,150%)  ;
    -moz-transform: translate(0%,150%)  ;
    -ms-transform: translate(0%,150%)  ;
    -o-transform: translate(0%,150%)  ;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  .copyright{
    text-align: center;
    font-size: 15px;
    transform: translate(0%,200%)  ;
    -webkit-transform: translate(0%,200%)  ;
    -moz-transform: translate(0%,200%)  ;
    -ms-transform: translate(0%,200%)  ;
    -o-transform: translate(0%,200%)  ;
}
  .Rabali{
  align-items: center;
  justify-content: center;
  display: flex;
  }