#header {

    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    /* align-items: left; */
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-color: transparent;
    background-color: rgba(25, 99, 90, 1);

}
/* 
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
  } */

#header1 {
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(25, 99, 90, 1);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-color: transparent;
    transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
    -moz-transition: all .45s ease-in-out;
    -ms-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
}
/* .header__logo-container {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
  
  
  .header__logo {
	width: 50px;
	height: auto;
	display: block;
	margin-right: 1rem;
	cursor: pointer;
	transition: transform 0.3s ease;
  } 
 
  .header__logo:hover {
	transform: scale(1.1);
  }
  
  .header__menu {}
  

  @media (max-width: 768px) {
	.header {
	  padding: 1rem 5%;
	}
  
	.header__content {
	  flex-direction: column;
	  align-items: center;
	}
  
	.header__logo {
	  width: 80px; /* Adjust the width as needed */
	  margin: 0; /* Remove margin */
	}
  
	.menu__list {
	  margin-top: 1rem;
	  display: flex;
	  justify-content: space-around;
	  width: 100%;
	}
  
	.menu__list > li {
	  margin: 0;
	}
  }
  
  /* --Header-- */
/* --Header-- */

/* --Header-- */

  
  .header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  }
  

.logo {
    display: none;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}



.navlist {
    display: flex;



}

.navlist a {

    font-size: 1.75vw;
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    padding: 2px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;

}



.navlist a:hover {
    color:gray;
    
}

.nav-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;

}

#nav-icon {
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

#nav-icon:hover {
    transform: scale(1.2);
}

.open {
    display: grid;

}




/* ********************* */

@media (min-width: 840px) {
    .navlist.open {
        display: flex;

    }



}

@media (max-width: 840px) {


    .home-active {
        border-image: none;
        border-bottom: none;
    }

    .about-active {
        border-image: none;
        border-bottom: none;
    }

    .skills-active {
        border-image: none;
        border-bottom: none;
    }

    .projects-active {
        border-image: none;
        border-bottom: none;
    }

    .communication-active {
        border-image: none;
        border-bottom: none;
    }

    #nav-icon {
        display: block;

    }


    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        color: white;
        text-align: left;


    }



    .navlist a {
        display: block;
        margin: 30px;
        font-size: 20px;

        color: white;


    }

    .navlist a:hover {


        width: auto;
        height: auto;

    }




    .navlist a.active {
        color: rgba(25, 99, 90, 1);
    }

    .navlist.open {
        top: 100%;
        background-color: rgba(25, 99, 90, 1);
    }

    .logo {
        display: block;

    }

    #header {
        justify-content: space-between;
    }

    #header1 {
        justify-content: space-around;
    }
}


div.navlist a:before,
div.navlist a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1.4px;
    content: '';

    transition: all 0.3s;

}

div.navlist a:before {
    left: 0px;
    top: 0px;
}

div.navlist a:after {
    right: 0px;
    bottom: 0px;
}

div.navlist a:hover:before,
div.navlist a:hover:after {
    opacity: 5;
    width: 100%;

}




.logo {
    display: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}


.navlist {
    display: flex;


}

.navlist a {

    font-size: 1.75vw;
    font-weight: 400;
    color: balck;
    text-decoration: none;
    margin: 0px 10px;
    padding: 2px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;

}



/*.navlist a:hover{
    color:;
}*/

.nav-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;

}

#nav-icon {
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

#nav-icon:hover {
    transform: scale(1.2);
}

.open {
    display: grid;

}


/* ********************* */

@media (min-width: 840px) {
    .navlist.open {
        display: flex;

    }
}

@media (max-width: 840px) {


    .home-active {
        border-image: none;
        border-bottom: none;
    }

    .about-active {
        border-image: none;
        border-bottom: none;
    }

    .skills-active {
        border-image: none;
        border-bottom: none;
    }

    .projects-active {
        border-image: none;
        border-bottom: none;
    }

    .communication-active {
        border-image: none;
        border-bottom: none;
    }

    #nav-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;

    }



    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        color: white;
    }

    .navlist a:hover {

        width: auto;
        height: auto;
    }

    .navlist a.active {
        color: rgba(25, 99, 90, 1);
    }

    .navlist.open {
        top: 100%;
        background-color: rgba(25, 99, 90, 1);
    }

    .logo {
        display: block;
    }

    #header {
        justify-content: space-between;
    }

    #header1 {
        justify-content: space-around;
    }
}