.my-work {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: left;
    transform: translate(0%,40%)  ;
    -webkit-transform: translate(0%,40%)  ;
    -moz-transform: translate(0%,40%)  ;
    -ms-transform: translate(0%,40%)  ;
    -o-transform: translate(0%,40%)  ;
}

.Proj{
   
    text-align: center;
}
  
  .description-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 70px;
    border: 2px solid #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  .project-image img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
  }
  
  .description {
    flex: 1;
    padding: 0 20px;
    font-size: 15px;
    transform: translate(0%,85%)  ;
    -webkit-transform: translate(0%,85%)  ;
    -moz-transform: translate(0%,85%)  ;
    -ms-transform: translate(0%,85%)  ;
    -o-transform: translate(0%,85%)  ;
}
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
 