:root {
	--bg-color:  #605C85;;
	--second-bg-color: #e5e5e5;
	--text-color:white;
	--main-color:#19635A; ;
	--main-color-dark: rgba(66, 133, 244, 0.5);
	--box-shadow: 0 0 1rem var(--main-color);
  }
  *,
  *::before,
  *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
  }
  
  a {
	text-decoration: none;
  }
  
  ul,
  ol,
  li {
	list-style: none;
  }
  
  img {
	vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-weight: inherit;
	font-size: inherit;
  }

html,
  body {
	height: 100%;
	font-size: 75%;
	line-height: 1;
	background-color: gray;
	color: var(--text-color);
	background-image: url('/game.jpg');
	/* font-family: "" */
  }

  body._lock {
	overflow: hidden;
  }

  
  /* --Header-- */
  
  /* Add this media query for responsiveness */

  
  /* Adjust the position of the h2 element */
  .home__title {
	margin-left: 1rem; /* Add margin to create spacing between the logo and the h2 element */
  }
  
 
  /* --Nav menu-- */
  
  .menu {}

  .menu__icon {
    display: block;
    cursor: pointer; /* Add cursor pointer for clickability */
  }
  
  .menu__body {}
  
  .menu__list {
    display: flex;
  }
  
  .menu__list > li {
	position: relative;
	margin: 0 0 0 4rem;
  }
  
  .menu__link {
	font-size: 1.7rem;
	color: var(--text-color);
	transition: color 0.3s ease;
  }
  
  .menu__link:hover,
  .menu__link._active {
	color: #f0f0f0;
  }
  
  /* --General-- */
  
  .page-section {
	min-height: 90vh;
	padding: 10rem 9% 5rem;

  }
  
  .page-section__title span {
	color: var(--main-color);
  }
  
  .page-section__title {
	text-align: center;
	font-weight: 700;
	font-size: 4.5rem;
  }
  
  .btn {
	display: inline-block;
	padding: 1rem 2.rem;
	background-color: var(--main-color);
	border-radius: 4rem;
	box-shadow: var(--box-shadow);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: 0.1rem;
	font-weight: 400;
	cursor: pointer;
	display: flex;

	align-items: center;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}
  
  .btn:hover {
	box-shadow: none;
  }
  
  /* --Home-- */






  
  .home__content {
	padding: 0 4rem 0 0;
	color: #e5e5e5;
  }
  
  .home__title {
	font-size: 3.2rem;
  }
  
  .home__title span {
	color: var(--main-color);
  }
  
  .home__title:nth-of-type(2) {
	margin: 0 0 1.5rem 0;
  }
  
  .home__name {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
  }
  
  .home__content, .home__description {
	display: flex;
	font-size: 1.6rem;
	line-height: 1.25;
	display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-media__link {

	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background-color: transparent;
	border: 0.2rem solid white;
	border-radius: 50%;
	font-size: 2rem;
	color:white;
	margin: 2rem 1.5rem 3rem 0;
	transition: all 0.5s ease;
  }
  
  .social-media__link:hover {
	background-color: var(--main-color);
	color: var(--second-bg-color);
	box-shadow: var(--box-shadow);
  }

 .about__sub-title{
	font-size: 30px;
	transform: translate(0%, 50%);
	-webkit-transform: translate(0%, 50%);
	-moz-transform: translate(0%, 50%);
	-ms-transform: translate(0%, 50%);
	-o-transform: translate(0%, 50%);
	text-align: center;
}
.descr{
	font-size: 15px;
	transform: translate(0%, 70%);
	-webkit-transform: translate(0%, 70%);
	-moz-transform: translate(0%, 70%);
	-ms-transform: translate(0%, 70%);
	-o-transform: translate(0%, 70%);
}

.skills{
	font-size: 30px;
	transform: translate(0%, 200% );
	text-align: center;
	-webkit-transform: translate(0%, 200% );
	-moz-transform: translate(0%, 200% );
	-ms-transform: translate(0%, 200% );
	-o-transform: translate(0%, 200% );
}
.Skills_Icon{
	display: flex;
	justify-content: center;
	transform: translate(0%,100%);
	-webkit-transform: translate(0%,100%);
	-moz-transform: translate(0%,100%);
	-ms-transform: translate(0%,100%);
	-o-transform: translate(0%,100%);
}

  


